<a href="https://colab.research.google.com/github/bhattacharya5/MLBD/blob/main/M21AIE211_MLBD_Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
%cd "/content/gdrive/My Drive/Colab Notebooks/semester3/MLBD"

/content/gdrive/My Drive/Colab Notebooks/semester3/MLBD

In [16]:
import numpy as np
import pandas as pd

In [50]:
#df_train = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/semester3/MLBD/train.csv')
df_train = pd.read_csv('/content/sample_data/train.csv')
df_train.head(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
df_train = df_train.iloc[0:5000]
df_train.shape

(5000, 785)

In [52]:
df_train.reset_index(inplace=True)

In [54]:
#df_test = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/semester3/MLBD/test.csv')
df_test = pd.read_csv('/content/sample_data/test.csv')
df_test.head(5)

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
df_test = df_test.iloc[0:3000]
df_test.shape

(3000, 784)

In [57]:
df_test.reset_index(inplace=True)

In [66]:
Y_train = df_train["label"]

# Drop 'label' column
X_train = df_train.drop(labels = ["label"],axis = 1) 

X_test = df_test

In [ ]:
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import numpy as np

X= X_train / 255.0  # Scale pixel values to [0, 1]
y= Y_train.astype('int')


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the Jaccard similarity function
def jaccard_sim(a, b):
    intersection = np.intersect1d(a, b)
    union = np.union1d(a, b)
    return len(intersection) / len(union)

# Define the kNN algorithm
def knn(X_train, y_train, X_test, k):
    y_pred = []
    for x_test in X_test:
        # Calculate the Jaccard similarity between the test point and all training points
        sim = [jaccard_sim(x_test, x_train) for x_train in X_train]
        # Get the indices of the k nearest neighbors
        idx = np.argsort(sim)[-k:]
        ## Get the labels of the k nearest neighbors
        #neighbors = [y_train[i] for i in idx]
        print(idx)
        ## Get the most common label among the k nearest neighbors
        #y_pred.append(max(set(neighbors), key=neighbors.count))
    
    #return y_pred

## Test the kNN algorithm with different values of k
for k in range(1, 6):
    y_pred = knn(X_train, y_train, X_test, k)
#    acc = accuracy_score(y_test, y_pred)
#    print(f"k={k}, Accuracy={acc}")

In [ ]:
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split

mnist = fetch_openml('mnist_784', version=1)
X_train, X_test, y_train, y_test = train_test_split(mnist.data, mnist.target, test_size=0.2, random_state=42)

In [67]:
import numpy as np

def jaccard_similarity(x1, x2):
    return np.sum(np.minimum(x1, x2)) / np.sum(np.maximum(x1, x2))

In [68]:
from collections import Counter

def knn_jaccard(X_train, y_train, x_test, k):
    distances = []
    for i in range(len(X_train)):
        dist = jaccard_similarity(X_train[i], x_test)
        distances.append((dist, y_train[i]))
    distances.sort(reverse=True)
    top_k = [d[1] for d in distances[:k]]
    most_common = Counter(top_k).most_common()
    return most_common[0][0]

In [69]:
for k in range(1, 6):
    correct = 0
    for i in range(len(X_test)):
        pred = knn_jaccard(X_train, y_train, X_test[i], k)
        if pred == y_test[i]:
            correct += 1
    accuracy = correct / len(X_test)
    print(f"k={k}: accuracy={accuracy:.3f}")

KeyError: ignored